---
layout: null
title: TheCognitionBox
description: Words of the wisest minds that will surely make you think
sitemap:
    priority: 1.0
    lastmod: 2020-11-05
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->


				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
				
			
				
					<div id="main">
						<!-- Featured Post -->
		
							<article class="post featured">

								
						<div class = "box">
						
						<h3> science & philosophy </h3>
						
						<p> <b> TAGORE</b>: In science we go through the discipline of eliminating the personal limitations of our individual minds and thus 
						reach that comprehension of Truth which is in the mind of the Universal Man.</p>

						<p> <b> EINSTEIN</b>: The problem begins whether Truth is independent of our consciousness.</p>

						<p> <b>TAGORE</b>: What we call truth lies in the rational harmony between the subjective and objective aspects of reality, both of which 
						belong to the super-personal man.</p>

						<p> <b>EINSTEIN</b>: Even in our everyday life we feel compelled to ascribe a reality independent of man to the objects we use. We do this to 
						connect the experiences of our senses in a reasonable way. For instance, if nobody is in this house, yet that table remains where it is. </p>						
						
						</div>
						
						

						
							
								

								


							</article>


						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
